<ion-header>
  <ion-item style="--ion-background-color:#E94E0F;  color:rgb(255, 255, 255)">

    <ion-buttons slot="start">
      <ion-back-button  defaultHref="programa-referido"></ion-back-button>
    </ion-buttons>
    <ion-title>Busquedas activas</ion-title>
    <ion-icon name="home" (click)="volverInicio()" style="color:rgb(255, 255, 255)"> </ion-icon>
  </ion-item>
</ion-header>

<ion-content>
  <div class="Tlist" style="background: #E94E0F ;">
    <br>
    <ion-title class="titulo">BUSCA TU MEJOR OPCIÓN</ion-title>
  </div>
  <div class="flex-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Analista de Testing SSR</ion-label>
              <ion-button color="#E94E0" slot="end" id="s1" href="
              https://dicsys.catsone.com/careers/74803-General/jobs/14264411-Analista-de-Testing-SSR/">VER
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Analista Desarrollador .NET Senior
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14261939-AnalistaDesarrollador-NET-Senior/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-angular"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Desarrollador BI
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14241056-Desarrollador-BI/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-angular"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Desarrollador BI
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14254994-Desarrollador-BI/">
                VER</ion-button>
            </ion-item>

            <ion-item>
              <ion-icon name="logo-angular"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Desarrollador PL/SQL
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14257643-Desarrollador-PLSQL/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-angular"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Desarrollador ETL Sr/Ssr.
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14257574-Desarrollador-ETL-SrSsr/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Analista funcional Sr
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14257553-Analista-funcional-Sr/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-react"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Focal Point BI
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14257514-Focal-Point-BI/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-angular"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Desarrollador .NET Ssr
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14237771-Desarrollador-NET-Ssr/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-react"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Arquitecto de Soluciones Transaccionales
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14160134-Arquitecto-de-Soluciones-Transaccionales/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-react"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;">
                PM/ Líder Técnico
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14160113-PM-Lder-Tcnico/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-react"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Líder de Proyecto</ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14237186-Lder-de-Proyecto/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-buffer"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Fullstack</ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14237177-Fullstack/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-react"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Project Manager- Ingles Advanced
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14121957-Project-Manager-Ingles-Advanced/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;">
                Analista Técnico - Funcional BI</ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14027496-Analista-Tcnico--Funcional-BI/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-angular"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Desarrollador ETL Semi Sr.
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14235863-Desarrollador-ETL-Semi-Sr/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Analista Desarrollador BI
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14232224-Analista-Desarrollador-BI/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Analista Funcional Senior
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14225120-Analista-Funcional-Senior/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Analista de Testing Ssr
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14225006-Analista-de-Testing-Ssr/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-react"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Data Services​ Developer Semi Senior /
                Senior.</ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14120097-Data-Services-Developer-Semi-Senior--Senior/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Analista de Formación y Desarrollo
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14095569-Analista-de-Formacin-y-Desarrollo/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Analista Funcional Semi Senior</ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14212196-Analista-Funcional-Semi-Senior/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-react"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Cientifico de Datos
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14081955-Cientifico-de-Datos/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-react"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Responsable de Comunicacion
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14095581-Responsable-de-Comunicacion/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-react"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> QA Automation SSR
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14108997-QA-Automation-SSR/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;">
                Analista de Testing Semi Senior</ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/14138988-Analista-de-Testing-Semi-Senior/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-angular"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Desarrollador Cobol Semi Senior / Senior.
              </ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/13719227-Desarrollador-Cobol-Semi-Senior--Senior/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;">Analista de Datos Ssr.</ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/13699163-Analista-de-Datos-Ssr/">
                VER</ion-button>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-codepen"></ion-icon>
              <ion-label style="font-family: Arial, Helvetica, sans-serif;"> Analista Desarrollador Full - Stack Semi
                Sr. / Senior</ion-label>
              <ion-button color="#E94E0" slot="end" id="s1"
                href="https://dicsys.catsone.com/careers/74803-General/jobs/13796451-Analista-Desarrollador-Full--Stack-Semi-Sr--Senior/">
                VER</ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>