<!DOCTYPE html>
<html>
	

      <ion-header >
    
        <ion-item style="--ion-background-color:#E94E0F; box-shadow: 0px 1px 10px rgba(177, 177, 177, 0.5); color:aliceblue">
          <ion-buttons slot="start" >
            <ion-button (click)="tMenu()">
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
            <!-- el atributo  menu="main-menu"   apunta al menu deseado....SE OMITE SI SOLO HAY UN MENU WE (el mismo main-menu en el hhtplogout) -->
          </ion-buttons>
          <ion-title >Redes</ion-title>
    
          <ion-icon name="home" (click)="volverInicio()" style="color:rgb(255, 255, 255)"> </ion-icon>
        </ion-item>
      </ion-header>






	<head>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	   </head>
	
	   <a class="twitter-timeline" data-lang="es" data-width="100%" data-height="100%" data-theme="light" 
	href="https://twitter.com/Dicsys_SA?ref_src=twsrc%5Etfw"></a> 
<body>
	
</body>
</html>

