<ion-content [scrollEvents]="true">


  <ion-header >
    <ion-item style="--ion-background-color:#5BC5F2; box-shadow: 0px 10px 10px rgba(177, 177, 177, 0.5); color:#000000">
      <ion-buttons slot="start" >
        <ion-button (click)="tMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        <!-- el atributo  menu="main-menu"   apunta al menu deseado....SE OMITE SI SOLO HAY UN MENU WE (el mismo main-menu en el hhtplogout) -->
      </ion-buttons>
      <ion-title >Datos Utiles</ion-title>
      <ion-icon name="home" (click)="volverInicio()" style="color:#000000"> </ion-icon>
    </ion-item>
  </ion-header>

  

  <div >
    

    <h1 class="titulo" STYLE="margin-left: 5%;margin-right: 5%;text-align: center;">QUE ES ESTO?</h1> 
    
    <section style= "border-style: hidden;" >
    <ion-list class="fondoL" >
      <div padding *ngFor="let d of data" (click)="toggleDetails(d)" >
        
        <ion-item-divider class="fondoL" style= "border-style: hidden;">
          <div class="icono" [style]="d.icon" ></div>
          
          <ion-label style="margin-left: 15px;">{{d.title}}</ion-label>
        </ion-item-divider>
      
        <ion-item *ngIf="d.showDetails" >
          <div >
            <img [src]="d.imagen" style="max-width: 100px;display: block;margin-left: auto; margin-right: auto;" />
            <br>{{d.details}}
          </div>
        </ion-item>

      </div>
    </ion-list>
  </section>






     
    

    
    <section style= "border-style: hidden;">
      <h1 class="titulo" STYLE="margin-left: 5%;margin-right: 5%;text-align: center;padding: 5% 0;">CONTACTOS</h1> 

     <ion-list >
        <ion-item lines="none" href="mailto:rrhh@dicsys.com" ><ion-label>rrhh@dicsys.com</ion-label><div class="icono" style="background: #53AF32;  float: right;" ></div></ion-item>
        <ion-item lines="none" href="mailto:seleccion@dicsys.com"><ion-label>seleccion@dicsys.com</ion-label><div class="icono" style="background: #F7A700;  float: right;" ></div></ion-item>
        <ion-item lines="none" href="mailto:sistemas@dicsys.com"><ion-label>sistemas@dicsys.com</ion-label><div class="icono" style="background: #0075BE;  float: right;" ></div></ion-item>
        <ion-item lines="none" href="mailto:directores@dicsys.com"><ion-label>directores@dicsys.com</ion-label><div class="icono" style="background: #FFF000;  float: right;" ></div></ion-item>
     </ion-list>
    </section>



     
    <section id="ubicacion">

      <h1 class="titulo" STYLE="margin-left: 5%;margin-right: 5%;text-align: center;padding: 5% 0;">UBICACION</h1> 

      <ion-grid>
        <ion-row>
          <ion-col >

            <ion-item lines="none" (click)="setDireccion()">
              <ion-card>
                <ion-card-title>
                  Av. Hipólito Yrigoyen 146, 1º Piso Nueva Córdoba, Córdoba.
                </ion-card-title>
                <ion-card-content>
                  +54 351 569 1050
                </ion-card-content>
              </ion-card>
            </ion-item>

            <ion-item lines="none" (click)="setDireccion()">
              <ion-card>
                <ion-card-title>
                  Av. Alicia M. de Justo 1080, 3º Piso Puerto Madero, Buenos Aires.
                </ion-card-title>
                <ion-card-content>
                  +54 11 5031 9518
                </ion-card-content>
              </ion-card>
            </ion-item>
     
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <iframe width="100%" height="100%" id="gmap_canvas" 
            src="https://maps.google.com/maps?q=Av.%20Hip%C3%B3lito%20Yrigoyen%20146,%201%C2%BA%20Piso%20Nueva%20C%C3%B3rdoba,%20C%C3%B3rdoba.&t=&z=15&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>  
      </ion-item>
    </section>
     
     
    
    

    <div style="height: 100px;"></div>
    <ion-footer style="background-color:#ffffff;
    position:fixed;
    left:0;
    bottom:0;
    width:100%">
        <ion-grid>
          <ion-row>
            
            <ion-col  class="columnaFooter" >
              <ion-item lines="none">
                <a href="https://www.facebook.com/DicsysSA/" target="_blank" ><ion-icon name="logo-facebook"  size="large"></ion-icon></a>
              </ion-item>
            </ion-col>
    
            <ion-col  class="columnaFooter">
              <ion-item lines="none">
                <a href="https://www.instagram.com/dicsys_sa" target="_blank"><ion-icon name="logo-instagram" size="large"></ion-icon></a>
              </ion-item>
            </ion-col>
    
            <ion-col  class="columnaFooter">
              <ion-item lines="none">
                <a href="https://www.twitter.com/dicsys_sa" target="_blank"><ion-icon name="logo-twitter" size="large"></ion-icon></a>
              </ion-item>
            </ion-col>
    
            <ion-col   class="columnaFooter">
              <ion-item lines="none">
               <a href="https://www.linkedin.com/company/somosdicsys" target="_blank"><ion-icon name="logo-linkedin" size="large"></ion-icon></a>
              </ion-item>
            </ion-col>
    
          </ion-row>
          <center>
            <img 
            src="http://190.210.221.15:9500/intranet/wp-content/uploads/2020/04/logoDICSYS.png" 
            srcset="http://190.210.221.15:9500/intranet/wp-content/uploads/2020/04/logoDICSYS.png 258w, http://190.210.221.15:9500/intranet/wp-content/uploads/2020/04/logoDICSYS-230x58.png 230w" 
            align="center"
            style="height: 20px;">
          </center>
        </ion-grid>
      </ion-footer>
   
     
     
    





  </div>
</ion-content>