<ion-header>
  <ion-item style="--ion-background-color:#0fa4e9;  color:rgb(255, 255, 255)">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Dicsyanos</ion-title>
  </ion-item>
</ion-header>

<ion-content>
  <ion-searchbar [animated]="true"></ion-searchbar>
  <div>
    <ion-row>
      <ion-col>
        <ion-list >
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Anna Linares</ion-label>
            <ion-button href="https://docs.google.com/document/d/1d5o4E-pvXb0UPCfJzWhrvYmGopT3YYUfM9mV42N1Yu4/edit?usp=sharing">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Franco Magi</ion-label>
            <ion-button href="https://docs.google.com/document/d/1JmcDnLGsRFnPHSiexpUMTN9k2DPF5F_kFAMd1SH8Zw4/edit?usp=sharing">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Pablo Rivas</ion-label>
            <ion-button href="https://docs.google.com/document/d/1Q55vGfAf23YRcLuUyWeskLIfK_SylCintCqygn9yzpo/edit?usp=sharing">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Iván Sanchez</ion-label>
            <ion-button href="https://docs.google.com/document/d/14l9Et42rnIA4p6J6CoS7mZ7UDBdxeVrS9Q7I8li8Hzc/edit?usp=sharing">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Soledad Zubizarreta </ion-label>
            <ion-button href="https://docs.google.com/document/d/1a5czGacqXXkaea-hPv7i1VRj9LrTd0O4bIcKrOzQ8nk/edit?usp=sharing">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-label> Luciano Besso </ion-label>
            <ion-button href="https://docs.google.com/document/d/14K3UtPIHSwGEcnQw5ggoqAsu8YOksraohau33u63Uvc/edit?usp=sharing">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-label> Miguel Peralta </ion-label>
            <ion-button href="https://docs.google.com/document/d/1TUyDjF749i8ZDuHCLgAJGW95ASYJfVeDQMSLdf0d7EM/edit?usp=sharing">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-label> Raúl Domini </ion-label>
            <ion-button href="https://docs.google.com/document/d/1ryu3ZQTtVQxqF2sfpyDA51AX1e6gaeVzcnYRhr3ixyQ/edit?usp=sharing">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-item>

          

        </ion-list>
      </ion-col>
    </ion-row>
  </div>


</ion-content>