<ion-header>
  <ion-item style="--ion-background-color:#0075BE;  color:rgb(255, 255, 255)">

    <ion-buttons slot="start">
      <ion-back-button  defaultHref="formacion"></ion-back-button>
    </ion-buttons>
    <ion-title>BD</ion-title>
    <ion-icon name="home" (click)="volverInicio()" style="color:rgb(255, 255, 255)"> </ion-icon>
  </ion-item>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://i.imgur.com/5RGSDB6.jpg" width="100%" height="100%">
   
  </ion-card>
  <div class="flex-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/aprende-sql-desde-cero-hasta-avanzado-como-un-profesional/'>Aprende SQL desde CERO</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/microsoft-sql-server-an-introduction-2018-edition/'>Microsoft SQL Server</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-al-lenguaje-sql-server/'>SQL Server: Sentencias Básicas</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/guia-de-iniciacion-a-bases-de-datos-con-ms-sql-server/'>Bases de Datos con MS SQL Server</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/aprende-consultas-con-sql-server/'>Consultas con SQL Server 2016</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-a-sql-con-oracle-11g/'>Introducción a SQL con Oracle 11g</ion-button>
       </ion-col>
      </ion-row>
    </ion-grid>
 </div>

 
</ion-content>