<ion-content [scrollEvents]="true" class="fondologin">

  <ion-header >
    <ion-item color="primary">

      <ion-icon name="arrow-back" (click)="volverInicio()"></ion-icon>
      <ion-title >Mi perfil</ion-title>

      <ion-icon name="ellipsis-vertical-outline"  (click)="presentActionSheet()"> </ion-icon>
    </ion-item>
  </ion-header>



  <div class="body">

    <div class="col-sm-4 overflow">
    <ion-img class="img2" src="https://tse3.mm.bing.net/th?id=OIP.8o_YwkrLBGST_Aa5Hv3b-gHaEH&pid=Api"></ion-img>
  </div>

  <ion-avatar class="img">
    <img src="https://64.media.tumblr.com/df185589006321d70d37d1a59040d7c3/df57f19b4b4b783a-cb/s2048x3072/8d02bae2ee6ecedf0f8409d4427e6a90e258e8cb.jpg">
    <ion-label  id='nombreUsuarioLbl' class="nombreUsuario"></ion-label>
  </ion-avatar>

  <br><br><br>
  <ion-label class="titulo">Informacion</ion-label><br>
  <ion-label id='infoLbl'>Sin Informacion</ion-label> 
  <br><br>
  

  <ion-label class="titulo">Comentarios</ion-label>

  <ion-slides pager="true" >
    <ion-slide  *ngFor="let comentario of comentarios" >

      <ion-card>
        <ion-card-header>
          <ion-card-title>  </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{comentario.comment_content}}
        </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>


</div>
</ion-content>