.imgageCuadrada {
  
    display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  }
  
  
  
  .imgageRect {
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  }
  
  .paginaCliente {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial;
  
  }
  
  .paginaCliente2 {
    margin-left: 0%;
    margin-right: 0%;
    font-family: Arial;
  
  }