<ion-content  >

  <ion-header >
    <ion-item style="--ion-background-color:#0075BE; box-shadow: 0px 10px 10px rgba(177, 177, 177, 0.5); color:rgb(255, 255, 255)">
      <ion-buttons slot="start" >
        <ion-button (click)="tMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-title >Clientes</ion-title>
  
      <ion-icon name="home" (click)="volverInicio()" style="color:rgb(255, 255, 255)"> </ion-icon>
    </ion-item>
  </ion-header>
  
  
        
  
  <main style="min-height: 91vh; margin-bottom: -72px;">
  
  
  
        
  <div class="paginaCliente" >
  
  
  
  <ion-slides pager="true" [options]="slideOpts" style="--bullet-background: #0075BE; --bullet-background-active: #53AF32;">
    <ion-slide  *ngFor="let in of counter(6),let i = index" >
  
        <ion-card  style=" box-shadow: none;">
          <ion-card-content >
            <img src="https://www.dicsys.com/img/{{i+1}}.png" style="background: #0075BE;border-radius: 5px;">
          </ion-card-content>
          <ion-card-content>
            <img src="https://www.dicsys.com/img/{{i+7}}.png"  style="background: #5BC5F2;border-radius: 5px;">
          </ion-card-content>
          <ion-card-content>
            <img src="https://www.dicsys.com/img/{{i+13}}.png" style="background: #53AF32;border-radius: 5px;">
          </ion-card-content>
          <ion-card-content>
            <img src="https://www.dicsys.com/img/{{i+19}}.png" style="background: #FFCC00;border-radius: 5px;">
          </ion-card-content>
          <ion-card-content>
            <img src="https://www.dicsys.com/img/{{i+25}}.png" style="background: #E94E0F;border-radius: 5px;">
          </ion-card-content>
          <ion-card-content >
            <img src="https://www.dicsys.com/img/{{i+30}}.png" style="background: #F7A700;border-radius: 5px;">
          </ion-card-content>
        </ion-card>
  
    </ion-slide>
  </ion-slides>

      </div>
  
      <div style="height: 72px;"></div>
  </main>
  
  <app-footer></app-footer>
    </ion-content>