#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.footer{
  position: fixed;
  bottom:0;
  width: 100vw;
  
  
}
.link-recuperar-pass{
  padding-top: 2rem;
  padding-bottom: 2rem;
}  

.login-container{
padding: 1rem 0;
}
.logo-dicsys{
padding:1.5rem 0;
}


.ion-align-items-center{
align-items: center
}





//para el perfil---->
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  //width: 40%;
  margin-top: -10%;
  width: 30%;
  height: 30%;
  

}
.img1 {

  margin-left: 5%;
  margin-right: 5%;

}

.img2 {
  display: block;
  //margin-left: 10%;
 // margin-right: 10%;
  width: 100%;
  margin-top: 10%;
  
}






.img4 {
  margin-left: auto;
  margin-right: auto;
}



.button{
  display: flex;
  justify-content: space-between;
}


.overflow{
	height: 200px;
  overflow: hidden;

}


.fondologin{
  --ion-background-color:#6fc2c8
}

.fondoitem{
  --background: rgba(0,0,0,0);
  //--border-color: rgba(0,0,0,0);
  //display: block;
  //margin-top: -50%;
  //margin-left: 5%;


}

.asd{
  .select-icon {
    .select-icon-inner {
       color : rgba(0,0,0,0) !important;
    }
  }

}