<ion-header>
  <ion-item style="--ion-background-color:#0075BE;  color:rgb(255, 255, 255)">

    <ion-buttons slot="start">
      <ion-back-button  defaultHref="formacion"></ion-back-button>
    </ion-buttons>
    <ion-title>Desarollo</ion-title>
    <ion-icon name="home" (click)="volverInicio()" style="color:rgb(255, 255, 255)"> </ion-icon>
  </ion-item>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://i.imgur.com/9DPM2Fx.jpg" width="100%" height="100%">
   
  </ion-card>
  <div class="flex-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/aprende-programacion-basica-con-php/'>Programacion basica con php</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/aprende-php-desde-cero-nivel-basico-2019/'>PHP desde Cero - Nivel Básico</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-a-php-y-creacion-de-un-crud-basico/'>Introducción a PHP y CRUD </ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-teorica-a-los-framework-de-desarrollo-para-php/'>Frameworks de desarrollo para PHP</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/programador-web-php-cookies-y-sesiones/'>Cookies y Sesiones en PHP</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/login-con-php-jairo-galeas/'>Login y Registro de Usuarios con PHP y MySql</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/curso-de-c-sharp-net-core-desde-cero/'>.NET Core desde cero</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/c-sharp-programming/'>Start programming with C#</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/c-sharp-para-principiantes/'>Fundamentos de C# para Principiantes</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/aprende-a-programar-desde-cero-con-c-sharp-de-microsoft-dot-net/'>Aprende a programar con C# y .NET</ion-button>

          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-a-laravel-5-primeros-pasos-framework-php/'>Introducción a Laravel 5</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.edx.org/es/course/cs50s-web-programming-with-python-and-javascript'>Web Programming with Python and JS</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/javascript-introduccion-a-la-programacion/'>Introducción a la Programación con JavaScript</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/docker-para-entorno-de-desarrollo-web/'>Docker para entornos de desarrollo</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-al-backend-en-php-y-mysql-docker/'>Introducción al backend en PHP y MySQL</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/net-devops-cisco-python-automation-netconf-sdn-docker/'>Net DevOps: Cisco Python, Docker y mas</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-a-react-native-con-react-navigation-y-axios/'>Introducción a React Native</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/react-js-curso-de-introduccion-desde-cero-y-primeros-pasos/'>React JS - Curso de introducción desde cero</ion-button>

          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/aprendiendo-react/'>Aprender React JS</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/react-js-inicia-en-el-mundo-de-los-frameworks-de-javascript/'>React JS: creada por Facebook</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/angular-8-curso-basico-de-introduccion-y-primeros-pasos/'>Angular 8 - Curso básico de introducción</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/fundamentos-de-angular/'>Fundamentos de Angular</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/c-sharp-para-principiantes/'>Componentes en Angular - 101</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/html-hacia-angular/'>Angular: De HTML a WebAPP</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-a-la-programacion-con-python-juan-de-la-torre/'>Introducción a la Programación con Python</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduction-to-python-programming-for-beginners/'>Introduction to Python Programming</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/fundamentals-of-programming-using-python-3/'>Fundamentals of Programming using Python 3</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/learn-python-programming-and-cryptocurrency-data-analysis/'>Python Programming Bootcamp (2019)</ion-button>

          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/curso-python/'>Curso completo de Python 3</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-a-python/'>Introduccion a Python</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/por-donde-empezar-en-el-desarrollo-web-empieza-aqui-ahora-html/'>Desarrollo web Curso de HTML</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/curso-html5-css3/'>Desarrollo Web con HMTL, CSS y Bootstrap 4!</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/como-programar-para-emprendedores-html-y-css/'>Programar para Emprendedores - HTML y CSS</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/aprende-a-crear-paginas-web-con-html-y-css/'>Aprende a crear páginas web con HTML y CSS</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/curso-de-desarrollo-web-con-html-css-y-javascript/'>Curso de Desarrollo Web con HTML, CSS y JS</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/como-crear-una-pagina-web-introduccion-a-html5-y-css3/'>Introducción a HTML5 y CSS3</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/aprende-html5-y-css3-desde-cero/'>Aprende HTML5 y CSS3 desde cero</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://learndigital.withgoogle.com/activate/course/web-development-I'>Desarrollo Web: HTML y CSS (1/2)</ion-button>

          <ion-button class="" color="primary"   expand="block" href='https://learndigital.withgoogle.com/activate/course/web-development-II'>Desarrollo Web: HTML y CSS (2/2)</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/an-introduction-to-java-programming/'>An Introduction to Java Programming</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/object-oriented-programming-in-java/'>Object Oriented Programming in JAVA</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduction-to-programming-with-java/'>Introduction to programming with Java</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-a-java-desde-cero-gratis/'>Introducción a Java desde cero</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/java-basico-desde-cero-gratis/'>Java Básico desde Cero</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/programacion-estructurada-java/'>Programación Estructurada desde Cero con JAVA</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/fundamentos-de-programacion-algoritmos-en-java-y-javascript/'>Algoritmos en java y JS</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/testdrivendevelopment/'>Test Driven Development con Java y Junit5</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/login-con-php-jairo-galeas/'>Java Básico desde 0</ion-button>

          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/basic-poo-java/'>Programación orientada a objetos java</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/fundamentos-de-java-aprende-a-programar-java-desde-cero-sin-misterios/'>Fundamentos de Java con Netbeans!</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/java-desde-las-bases-con-apache-netbeans-y-java-13/'>Java con Apache Netbeans y Java 13</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/java-crash-course-para-absolutos-principiantes-java/'>Java Crash Course con IntelliJ!</ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/aprende-a-programar-en-java-desde-cero-nivel-principiantes/'>Aprende a programar en Java </ion-button>
          <ion-button class="" color="primary"   expand="block" href='https://www.udemy.com/course/fundamentos-java-para-principiantes-java-13-jdk-netbeans/'>Java para principiantes (Java 13)</ion-button>
          
       </ion-col>
      </ion-row>
    </ion-grid>
 </div>
</ion-content>