*{
    padding:0px;
    margin: 0px;
    text-align: center;
}


ion-slides#enlacesRapidos{
    background-color:transparent;
    color:white;
    height: 100%;
    width: 100%;
    ion-card{
        height: 100%;
    }
    ion-card-title{
        color:white;
        margin: 1rem 1rem;
    }
}
#enlacesRapidosItem{
    height: 100%;
    width: 100%;
    img{
        padding-top: 1rem;
    }
    
    
}
  ion-slides{
    height: 100%;
    width: 100%;
    ion-slide{
        height: 100%;
        width: 100%;
        display: inline-block;
      }
  }
  
  
ion-item{
    --ion-background-color:transparent;
}


ion-title{
    margin: 1rem 1rem;
}

//A partir de acá funciona todo lindo --->

ion-slide#formacion{
    --ion-background-color: #84C4F0; 
    img{
        width:123px;  //61.5
        height:104px; //52
    }
}
ion-slide#normas{
    --ion-background-color:#75AD40;
    img{
        width:84px;
        height:107px;
    }
    
}
ion-slide#logros{
    --ion-background-color: #0075BB;
    img{
        width:90px;
        height:107px;
    }
}
ion-slide#beneficios{
    --ion-background-color: #F2CB13;
    img{
        width:80px;
        height:106px;
    }
}
ion-slide#referidos{
    --ion-background-color: #E3A51A;
    img{
        width:123px;
        height:113px;
    }
}
ion-slide#estructuraDicsys{
    --ion-background-color: #831F82;
    img{
        width:127px;
        height:107px;
    }
}
ion-slide#innovacion{
    --ion-background-color: #CA4F1C;
    img{
        width:70px;
        height:107px;
    }
}
ion-slide#procesosEstructurales{
    --ion-background-color: #75AD40;
    img{
        width:106px;
        height:107px;
    }
}

ion-item#dicsyanos{
    --ion-background-color: transparent;
    background-image: linear-gradient(0deg, #20B2ED 36%, #FFFFFF 100%);
    width: 100%;
    ion-title{
        color:whitesmoke;
        font-size: 2rem;
        margin-left: 1rem;
        
    }
    ion-avatar{
        width: 70px;
        height: 70px;
        display: block;
    }
}
