<ion-header>
  <ion-item style="--ion-background-color:#0075BE;  color:rgb(255, 255, 255)">

    <ion-buttons slot="start">
      <ion-back-button  defaultHref="formacion"></ion-back-button>
    </ion-buttons>
    <ion-title>Otros</ion-title>
    <ion-icon name="home" (click)="volverInicio()" style="color:rgb(255, 255, 255)"> </ion-icon>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://i.imgur.com/ns5800l.png" width="100%" height="100%">
   
  </ion-card>
  <div class="flex-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class=""  color="primary"   expand="block" href='http://www.came-educativa.com.ar/course/redes-sociales/'>Redes Sociales</ion-button>
          <ion-button class=""  color="primary"   expand="block" href='https://www.udemy.com/course/masters-desarrollo/'>Tecnologías de Desarrollo</ion-button>
          <ion-button class=""  color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-a-excel-2010/'>Introducción a Excel 2010</ion-button>
          <ion-button class=""  color="primary"   expand="block" href='https://www.udemy.com/course/introduccion-a-word-2010/'>Introducción a Word 2010</ion-button>
          <ion-button class=""  color="primary"   expand="block" href='https://learndigital.withgoogle.com/activate/course/machine-learning-basics'>Aprendizaje automático (Basico)</ion-button>
          <ion-button class=""  color="primary"   expand="block" href='https://www.udemy.com/course/organizacion-del-tiempo-de-manera-efectiva/'>Organización del Tiempo</ion-button>
          <ion-button class=""  color="primary"   expand="block" href='https://www.udemy.com/course/alcanza-tus-metas-y-ten-tiempo-para-todo/'>Alcanza tus Metas y ten mas tiempo</ion-button>
          <ion-button class=""  color="primary"   expand="block" href='https://www.udemy.com/course/curso-inicial-en-criptomonedas-y-trading-bitcoins-eth-trx/'>Curso inicial en Criptomonedas y trading</ion-button>
          <ion-button class=""  color="primary"   expand="block" href='https://www.udemy.com/course/curso-basico-de-photoshop-cs6-desde-cero-gratis/'>Curso básico de Photoshop CS6</ion-button>
       </ion-col>
      </ion-row>
    </ion-grid>
 </div>
 


</ion-content>