<ion-content >
  <div class="body">

  <ion-header >
    <ion-item style="--ion-background-color:#53AF32; box-shadow: 0px 1px 10px rgba(177, 177, 177, 0.5); color:aliceblue">
      <ion-buttons slot="start" >
        <ion-button (click)="tMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        <!-- el atributo  menu="main-menu"   apunta al menu deseado....SE OMITE SI SOLO HAY UN MENU WE (el mismo main-menu en el hhtplogout) -->
      </ion-buttons>
      <ion-title >Novedades</ion-title>

      <ion-icon name="home" (click)="volverInicio()" > </ion-icon>
    </ion-item>
  </ion-header>





  <main style="min-height: 91vh; margin-bottom: -72px;">
    
    


    <ion-slides pager="true" [options]="slideOpts" style="--bullet-background: #0075BE; --bullet-background-active: #53AF32; ">
      <ion-slide  *ngFor="let da of data,let i = index" style=" display: block;">
  
        <ion-card  [style]=colorElegido[i].codigo style=" align-items: center; justify-content: center; " >
        

          <div>
            <ion-avatar class="img">
              <img [src]=da.imagen>
            </ion-avatar> 
          </div>
          <div >

            <h1>Saludos {{da.nombre}}</h1>
            
            <h2>{{da.funcion}}</h2>
            <h2 style="margin-bottom: 20px;">Sede {{da.sede}}</h2>       

          </div>

        </ion-card>

      </ion-slide>
    </ion-slides>





<div style="margin-left: 5%;margin-right: 5%;">
  <div style="text-align:center;background-color: #53AF32;height: 100px; border-radius: 5px 5px 50% 50%;">
  <h1 style="padding: 5%;">Cumpleaños de este mes</h1>
  </div>

  <div>
  <h2 style="text-align: right">Cumpleaños de este mes</h2>
  <h2>Cumpleaños de este mes</h2>
  <h2 style="text-align: right">Cumpleaños de este mes</h2>
  <h2>Cumpleaños de este mes</h2>
  </div>

</div>










    <div style="height: 72px;"></div>
  </main>


    <app-footer></app-footer>

  </div>
</ion-content>