*{
  font-family:  Arial, sans-serif,'Arial Narrow' ;
  color:black
}

ion-card{
  box-shadow: none; 
    margin-bottom: 30px; 
    
    background-repeat: no-repeat; 
    background-size: cover; 

}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    
    text-align: center;

    width:50% !important;  
    height : 50% !important;  
  }


h1,h2{
  color:#afafaf;
  font-weight: bold;
}
h1{
  font-size:6vw;
}
h2{
  font-size:4vw;
}



  .NOSEUSA{
    background-image: 
    radial-gradient(circle at 52% 37%, hsla(165,0%,91%,0.05) 0%, hsla(165,0%,91%,0.05) 15%,
    transparent 15%, 
    transparent 65%,
    transparent 65%, 
    transparent 100%),
    radial-gradient(circle at 70% 3%, hsla(165,0%,91%,0.05) 0%, hsla(165,0%,91%,0.05) 33%,
    transparent 33%, 
    transparent 62%,
    transparent 62%, 
    transparent 100%),
    radial-gradient(circle at 38% 28%, hsla(165,0%,91%,0.05) 0%, hsla(165,0%,91%,0.05) 15%,
    transparent 15%, 
    transparent 94%,
    transparent 94%, 
    transparent 100%),
    radial-gradient(circle at 12% 92%, hsla(165,0%,91%,0.05) 0%, hsla(165,0%,91%,0.05) 1%,
    transparent 1%, 
    transparent 19%,
    transparent 19%, 
    transparent 100%),
    radial-gradient(circle at 50% 84%, hsla(165,0%,91%,0.05) 0%, hsla(165,0%,91%,0.05) 28%,
    transparent 28%, 
    transparent 96%,
    transparent 96%, 
    transparent 100%),
    radial-gradient(circle at 11% 43%, hsla(165,0%,91%,0.05) 0%, hsla(165,0%,91%,0.05) 20%,
    transparent 20%, 
    transparent 63%,
    transparent 63%, 
    transparent 100%),
    radial-gradient(circle at 45% 11%, hsla(165,0%,91%,0.05) 0%, hsla(165,0%,91%,0.05) 19%,
    transparent 19%, 
    transparent 65%,
    transparent 65%, 
    transparent 100%),
    radial-gradient(circle at 90% 54%, hsla(165,0%,91%,0.05) 0%, hsla(165,0%,91%,0.05) 11%,
    transparent 11%, 
    transparent 19%,
    transparent 19%, 
    transparent 100%),
    radial-gradient(circle at 23% 100%, hsla(165,0%,91%,0.05) 0%, hsla(165,0%,91%,0.05) 35%,
    transparent 35%, 
    transparent 86%,
    transparent 86%, 
    transparent 100%),
    
    linear-gradient(0deg, rgb(90, 90, 90),rgb(173, 173, 173));
  
  }


  ad{
    color:rgba(0, 117, 190 );

  color:rgba(255, 204, 0);

  color:rgba(233, 78, 15);

  color:rgba(91, 197, 242);
  
 color:rgba(83, 175, 50);

  color:rgba(247, 167, 0);
  }
  