*{
  font-family:  Arial, sans-serif,'Arial Narrow' ;
}

.columnaFooter{
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }