<ion-content [scrollEvents]="true" >



  <ion-header>
    <ion-item style="--ion-background-color:#0075BE;  color:rgb(255, 255, 255)">
  
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Procesos</ion-title>
    </ion-item>
  </ion-header>

  


<main class="body">
 

  <ion-grid style="margin-top: 10px; margin-left: 5px;margin-right: 5px; ">
    
    <ion-row style="text-align: center;">
      <ion-col >
          <!-- -->
          <ion-card   href="https://190.210.221.15:8888/svn/PAL-Estable/ISO/Administracion">
              <img [src]=imagenes[0].img style="border-style: solid; border-width: 5px; border-color: rgba(0, 117, 190, 0.8);  border-radius: 10px 10px 10px 10px;">
            <h6>Administracíon</h6>
          </ion-card>
          
      </ion-col>
      <ion-col  >
        <!-- -->
        <ion-card  href="https://190.210.221.15:8888/svn/PAL-Estable/ISO/Comercial">
          <img [src]=imagenes[1].img style="border-style: solid; border-width: 5px; border-color: rgba(255, 204, 0,0.8); border-radius: 10px 10px 10px 10px;">
          <h6>Comercial</h6>
        </ion-card>
    </ion-col>
    </ion-row>
  
    <ion-row style="text-align: center;">
      <ion-col>
          <!-- -->
          <ion-card href="https://190.210.221.15:8888/svn/PAL-Estable/ISO/Documentos%20Generales">
            <img [src]=imagenes[2].img style="border-style: solid; border-width: 5px; border-color: rgba(233, 78, 15,0.8); border-radius: 10px 10px 10px 10px;">
            <h6>Documentos Generales</h6>
          </ion-card>
      </ion-col>
      <ion-col >
        <!-- -->
        <ion-card href="https://190.210.221.15:8888/svn/PAL-Estable/ISO/Producci%C3%B3n">
          <img [src]=imagenes[3].img style="border-style: solid; border-width: 5px; border-color: rgba(91, 197, 242,0.8); border-radius: 10px 10px 10px 10px;">
          <h6>Produccion</h6>
        </ion-card>
    </ion-col>
    </ion-row>
  
    <ion-row style="text-align: center;">
      <ion-col  >
          <!-- -->
          <ion-card href="https://190.210.221.15:8888/svn/PAL-Estable/ISO/RRHH">
            <img [src]=imagenes[4].img style="border-style: solid; border-width: 5px; border-color: rgba(83, 175, 50,0.8); border-radius: 10px 10px 10px 10px;">
            <h6>Recursos Humanos</h6>
          </ion-card>
      </ion-col>
      <ion-col  >
        <!--  -->
        <ion-card href="https://190.210.221.15:8888/svn/PAL-Estable/ISO/Soporte%20IT">
          <img [src]=imagenes[5].img style="border-style: solid; border-width: 5px; border-color: rgba(247, 167, 0,0.8); border-radius: 10px 10px 10px 10px;">
          <h6>Soporte IT</h6>
        </ion-card>
    </ion-col>
    </ion-row>
  
    
  
  </ion-grid>


</main>




</ion-content>



