<ion-content [scrollEvents]="true" class="fondologin">

  <ion-header >
    
    <ion-item  style="--ion-background-color:#0075BE; box-shadow: 0px 1px 10px rgba(177, 177, 177, 0.5); color:aliceblue">
      <ion-buttons slot="start" >
        <ion-button (click)="tMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        <!-- el atributo  menu="main-menu"   apunta al menu deseado....SE OMITE SI SOLO HAY UN MENU WE (el mismo main-menu en el hhtplogout) -->
      </ion-buttons>
      <ion-title (click)="tMenu()">Acerca de...</ion-title>

      <ion-icon name="home" (click)="volverInicio()" style="color:rgb(255, 255, 255)"> </ion-icon>
    </ion-item>
  </ion-header>



  <div class="body" >
    

    <div >
      <h3>Dicsys Intranet</h3>
      <h4>Año 2021</h4>
      <ion-avatar class="icono">
        <img src="https://media.glassdoor.com/sql/2610962/dicsys-squarelogo-1566572714845.png">
      </ion-avatar>
      <h4>Integrantes</h4>
      <h6>
        Andrés Croquer<br>
        Andrés Gerónimo<br>
        Florencia Alberto<br>
        Pamela Pérez<br>
        David Pérez
      </h6>
    </div>



  </div>
</ion-content>