<ion-menu side="start" menuId="first" contentId="main">
  <!-- Esto es si tenemos mas de un menu nada mas -z menuId="main"...adentro-->
  <!-- cpntent-id es una referencia para router-outlet (abajooo de todo aqui)-->
  <div class="menuHeader" [style]="colorMenu"></div>
  <div class="perfil">

      <ion-avatar slot="start" (click)="Perfil()">
        <img src="https://media.glassdoor.com/sql/2610962/dicsys-squarelogo-1566572714845.png">
      </ion-avatar>
      <ion-label class="nombre" [style]="colorusuario" (click)="Perfil()">{{usuario}}</ion-label>


  </div>

<!--
  <ion-header >
    <ion-item color="primary" (click)="Perfil()">
    
      <ion-avatar slot="start">
        <img src="https://i.pinimg.com/originals/59/54/b4/5954b408c66525ad932faa693a647e3f.jpg">
      </ion-avatar>
      <ion-title>{{usuario}}</ion-title>
    </ion-item>
  </ion-header>
  -->

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        
        <!--
          <ion-item name="contact"> 
          <ion-icon slot="start"></ion-icon>
          <ion-label>Iniciolala</ion-label>
        </ion-item>
        -->

        <ion-item (click)="Clientes()" lines="none" >
          <div class="icono" style="background: #0075BE;"></div>
          <ion-label >Clientes</ion-label>
        </ion-item>
        <ion-item (click)="Herramientas()" lines="none"> 
          <div class="icono" style="background: #FFF000;"></div>
          <ion-label >Herramientas corporativas</ion-label>
        </ion-item>
        <ion-item (click)="redesSociales()" lines="none"> 
          <div class="icono" style="background: #E94E0F;"></div>
          <ion-label >Redes sociales</ion-label>
        </ion-item>
        <ion-item (click)="DatosUtiles()" lines="none"> 
          <div class="icono" style="background: #5BC5F2;"></div>
          <ion-label >Datos utiles</ion-label>
        </ion-item>
        <ion-item (click)="Novedades()" lines="none"> 
          <div class="icono" style="background: #53AF32;"></div>
          <ion-label >Novedades</ion-label>
        </ion-item>

<!-- 
        <ion-item (click)="Perfil()"> 
          <ion-icon slot="start"></ion-icon>
          <ion-label>Mi Perfil</ion-label>
        </ion-item>
-->
        <ion-item (click)="Logout()" lines="none"> 
          <div class="icono" style="background: #F7A700;"></div>
          <ion-label >Cerrar sesión</ion-label>
        </ion-item> 

        <ion-item (click)="acercaDe()" lines="none"> 
          <div class="icono" style="background: #0075BE;"></div>
          <ion-label >Acerca de</ion-label>
        </ion-item>
        
      </ion-menu-toggle>
    </ion-list>
  </ion-content>

</ion-menu>